:root {
    --font-family-main: "Montserrat", sans-serif;

    // XS
    --font-size-xs: 12px;
    --font-line-xs: 20px;
    --font-xs: 500 var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

    // S
    --font-size-s: 14px;
    --font-line-s: 22px;
    --font-s: 600 var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // M
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: 600 var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // M/L
    --font-size-ml: 20px;
    --font-line-ml: 28px;
    --font-ml: 700 var(--font-size-ml) / var(--font-line-ml) var(--font-family-main);

    // L
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: 700 var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // XL
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: 800 var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // shadow
    --primary-shadow: 0 4px 24px 0 rgb(0 0 0 / 26%);

    // border
    --border-xs-radius: 8px;
    --border-half-radius: 50%;

    // sizes
    --header-full-height: 140px;
    --header-collapsed-height: 90px;
    --container-width: 1140px;

    // z - index
    --header-z-index: 5;
    --modal-z-index: 10;
    --popup-z-index: 9999;
    --switchers-z-index: 99999;

    // opacity
    --opacity-half: 0.5;

    // colors
    --error-light-color: #f70909;
    --error-dark-color: #ad0909;
    --overlay-color: linear-gradient(0deg, rgb(247 210 45 / 40%) 0%, rgb(247 210 45 / 40%) 100%), rgb(33 49 52 / 20%);
}
