.FoodFormAdditionalIngredients {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 40px;

    &::-webkit-scrollbar { width: 0; }
}

.addIngr {
    max-width: 110px;
}

.selected {
    border: 1px solid var(--accent-color);
}

.ingrImg {
    max-height: 65px;
    max-width: 80px;
}
