.addIngr {
    gap: 8px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected {
    border: 1px solid var(--accent-color);
}

.ingrImg {
    max-height: 75px;
    max-width: 90px;
}

.ingrName {
    font-weight: 600;
}
