.Header {
    top: 0;
    width: 100%;
    height: var(--header-full-height);
    background: var(--bg-color);
    transition: height 0.3s;
    transform: translateY(50);
}

.headerWrapper {
    padding: 15px;
    margin: 0 auto;
    max-width: var(--container-width);
}

.collapsed {
    position: sticky;
    z-index: var(--header-z-index);
    box-shadow: var(--primary-shadow);
    height: var(--header-collapsed-height);
}
