.Footer {
    padding: 60px 0;
}

.info {
    margin: 35px 0 25px;
}

.social {
    margin: 15px 0 45px;
}

.address {
    max-width: 180px;
}

.messengers {
    gap: 15px;
    display: grid;
    margin: 35px 0 47px;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.messenger1 { grid-area: 1 / 1; }
.messenger2 { grid-area: 1 / 2; }
.messenger3 { grid-area: 1 / 3; }
.messenger4 { grid-area: 1 / 4; }
.messenger5 { grid-area: 2 / 1; }
.messenger6 { grid-area: 2 / 2; }
.messenger7 { grid-area: 2 / 3 / 2 / 5; }

.callBtn {
    margin-top: 20px;
    border-radius: 28px;
    padding: 8px 28px;
}
