.app_dark_theme {
    --bg-color: #1b1b1b;
    --accent-color: #57b44b;
    --primary-color: #fff;
    --secondary-color: #264129;
    --third-color: #df2789;
    --inverted-bg-color: #474747;
    --inverted-btn-color: #292929;

    // skeleton
    --skeleton-color: #dbdbdb;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
