.FoodForm {
    height: 100%;
}

.img {
    max-width: 370px;
    margin: 0 85px;
}

.wrapper {
    height: 100%;
    max-width: 400px;
    overflow-y: auto;
    padding-bottom: 125px;
    &::-webkit-scrollbar { width: 0; }
}

.portion {
    background: var(--inverted-bg-color);
    color: var(--secondary-color);
    padding: 5px;
    width: 100%;
}

.addBtn {
    bottom: 0;
    max-width: 400px;
    padding: 15px 0;
    margin-bottom: 40px;
    position: fixed;
}

.shadowTop {
    box-shadow: 0 -40px 20px 10px var(--bg-color);
}
